@import "tailwindcss";

*{
  scrollbar-width: thin;
}

@theme{
  --font-Poppins: "Poppins", sans-serif;
}

.inset-box-shadow{
  box-shadow: inset 0 -12px 12px -20px rgb(255, 255, 255, 0.5);
}

@keyframes popup {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.97);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-popup {
  animation: popup 0.18s ease-out;
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
